* {
	margin: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	background: #2A7E43;
	color: #FFF;
}

header {
	width: 100%;
	position: fixed top;
	margin-top: 0;
	background: #003F13;
}

main {
	margin-top: 10px;
}

.player-tray, .dealer-tray {
	background: #4F9D66;
	display: inline-block;
	width: 25%;
	height: 300px;
	vertical-align: top;
	border-radius: 6px;
}

.player-tray {
	margin-left: 0;
	margin-right: 0;
	text-align: left;
	padding: 5px;
}

.dealer-tray {
	margin-left: 0;
	margin-right: 0;
	text-align: right;
	padding: 5px;
}

.card-container {
	width: 100%;
}

.player-tray .card-container .card, .dealer-tray .dealer-cards {
	width: 60px;
	height: 90px;
	background-color: red;
	color: red;
	border-radius: 4px;
	border-color: white;
	border-style: solid;
	border-width: 2px;
	display: inline-block;
	margin: 4px;
}

.in-play {
	background: #105E27;
	width: 40%;
	height: 270px;
	margin-left: 2.5%;
	margin-right: 2.5%;
	display: inline-block;
	vertical-align: top;
	border-radius: 20%;
}

.messages {
	z-index: 1;
}

.player-side, .dealer-side {
	margin: 0;
	width: 50%;
	display: inline-block;
}

.player-side {
	text-align: left;
	margin-top: 2px;
}

.dealer-side {
	text-align: right;
	margin-top: 2px;
}

.player-side .card {
	width: 60px;
	height: 90px;
	line-height: 90px;
	background-color: white;
	color: red;
	border-radius: 4px;
	display: inline-block;
	margin: 4px;
	text-align: center;
}

.dealer-side .dealer-cards {
	width: 60px;
	height: 90px;
	line-height: 90px;
	background-color: white;
	color: black;
	border-radius: 4px;
	display: inline-block;
	margin: 4px;
	text-align: center;
}